dist-newstyle
dist
**/.DS_Store
.stack-work
.stack-work/*
**/*.o
**/*.hi
**/*~


## Core latex/pdflatex auxiliary files:
**/*.aux
**/*.lof
**/*.log
**/*.lot
**/*.fls
**/*.out
**/*.toc
**/*.vtc

**/*.pdf

